@import "_fonts";

.adaptive-menu{
	display: none;
}

.sidenav {
	height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav-title{
	margin: 20px;
}

.sidenav-links a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: $regular;
    color: #28374f;
    display: block;
    transition: 0.3s
}

.sidenav h2{
	font-size: 18px;
	font-family: $semibold;
	color: #634a8a;
}

.sidenav ul{
	border-top: 2px solid #563d7c;
	list-style: none;
	padding-left: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
    background-color: #563d7c;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 36px;
    
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #563d7c;
    color: #fff;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding-left: 0;
	
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li{
	padding: 0 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #563d7c;}
.dropdown-content a:hover{ color: #fff; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	
	display: flex!important;
	flex-direction: column;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;

}

body{
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x:hidden;

}
html {
  overflow-y: scroll;
}

.fa-caret-down, .fa-facebook, .fa-google-plus, .fa-twitter, .fa-bars, .fa-map-marker, .fa-mobile, .fa-phone {
	color: #563d7c;
}

#fa-google-plus{
	color: #e0e0e0;
}

#fa-twitter{
	color: #e0e0e0;
}

.media{
	border: 2px solid #efefef;

}

.media:nth-child(5){
	display: none;
}

.navbar{
	margin-top: 10px;
	margin-bottom: 0;

	li a{
		font-size: 14px;
		color: #28374f;
		
	}
	
	li a:hover{
		background-color: #70276f;
		color: #fff;
	}

}

.navbar-nav{
	li a{
		font-size: 14px;
		color: #28374f;
		
	}
	
	li a:hover{
		background-color: #70276f;
		color: #fff;
	}

	.fa-bars:hover{
		color: #fff;
	}
}


.navbar{
	min-height: 0px;
}


.navbar .navbar-toggle .icon-bar {
    background-color: #70276f;
}


#second-navbar{
	border-top: 2px solid #efefef;
	border-bottom: 3px solid #70276f;
	font-size: 19px;
	
	img{
		display: none;
	}

	li a{
		color: #28374f;	
		font-family: $regular;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-right: 30px;
		padding-left: 30px;
	}

	li a:hover{
		background-color: #70276f;
		color: #fff;
	}
	
}

header {
  margin-top: 10px;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%; }

header img {
  float: left; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
 }



/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #28374f;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px; 
  font-family: $regular;
}

ul.topnav li:nth-child(1){
	padding-right: 40px;
}

ul.topnav li:nth-child(4){
	padding-right: 35px;
}

/* Change background color of links on hover */
ul.links li:not(:first-child):hover {
  border-bottom: 3px #563d7c solid;
  cursor: pointer; }

/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav > li:hover > ul.submenu {
    display: block;
}


#first-section{
	background-color: #efefef;
	padding: 40px 0; 

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	h5:nth-child(1){
		font-size: 28px;
		font-family: $semibold;
		flex-grow: 2;

	}

	h5:nth-child(2){
		font-family: $regular;
		
		font-size: 14px;
		
	}

	span{
		font-family: $bold;
		
		font-size: 14px;
	}
}


.border-class span:nth-child(2){
	float: right;
}

.border-class-title{
	padding: 25px 0;
	border-bottom: 2px solid #efefef;
}


.media-head-left{
	float: left;
	h4{
		font-family: $semibold;
		font-size: 18px;
	}

	span{
		font-family: $regular;
		font-size: 13px;
	}

	p{
		margin-top: 10px;
	}
}

.media-head-right{
	float: right;
	padding-right: 15px;
	span{
		display: none;
	}
	h4{
		margin-top: 10px;
		font-size: 22px;
		color: #ffc263;
		margin-bottom: 0px;
	}

	p{
		font-family: $regular;
		font-size: 13px;
		
	}

	img{
		margin-bottom: 10px;
	}
}

.media-text{
	clear: both;
	font-family: $regular;
	font-size: 14px;
	color: #868686;
	margin-top: 10px;
}

#second-section{
	padding-top: 20px;
	padding-bottom: 60px;
	border-bottom: 3px solid #70276f;

	ul{
		padding-left: 0;
	}

	
	span{
		font-family: $light;

	}

	span:nth-child(1){
		font-size: 23px;
		color: #563d7c;
		float: left;

	}

	span:nth-child(2){
		font-size: 16px;
		color: #333333;
		padding-top: 8px;
	}

	li{
		list-style: none;
		font-family: $regular;
		font-size: 15px;
	}
	h3{
		font-family: $semibold;
		font-size: 18px;
		color: #333333;
		margin-top: 30px;
	}

	.col-md-4:nth-child(1){
		border: 2px solid #efefef;
	}
}



input[type="checkbox"]{
	margin-right: 5px;
	cursor: pointer;
	border-radius: 20px;
}

input[type="checkbox"] + label{
  font-size: 15px;
  font-family: $regular;
  cursor: pointer;
}

.glyphicon-star{
	background-color: #fff;
	color: #ffc263;
}

#third-section {
	ul{
		float: right;
		list-style: none; 
		margin-top: 20px; 
		padding: 0;

	}
    margin-bottom: 15px;  
    li {display: inline; padding: 10px; font-size: 16px; }

}

#fourth-section{
	border-top: 2px solid #efefef;
	ul li{
		font-size: 14px;
		font-family: $regular;
		color: #000000;
		
	}

	h4{
		font-family: $semibold;
		color: #282626;
		font-size: 16px;
	}

	p{
		font-family: $regular;
		font-size: 14px;
		color: #282626;
	}
	
}

#fourth-section-1{
	padding-top: 60px;
	ul{
		padding-left: 0;
	}
}

#fourth-section-2{
	padding: 40px 0px;
}

#fourth-section-2 .col-md-4:nth-child(2){
	margin-top: 25px;
}

#fifth-section{
	background-color: #efefef;
}

#fifth-section {

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	

	ul.social-buttons{
		list-style-type: none;
		display: flex;
		align-items: center;
		
	
		li a{
			padding: 0px 10px;
		}
	}

		

	span{
		flex-grow: 2;
		font-family: $regular;
		padding-bottom: 10px;
		font-size: 14px;
		color: #282626;
	}
}



