@import "_fonts";

body{
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x:hidden;

}
html {
  overflow-y: scroll;
}

.fa-caret-down, .fa-facebook, .fa-google-plus, .fa-twitter{
	color: #563d7c;
}

#fa-google-plus{
	color: #e0e0e0;
}

#fa-twitter{
	color: #e0e0e0;
}

.media{
	border: 2px solid #efefef;
}

.media:nth-child(5){
	display: none;
}

.navbar{
	margin-top: 10px;
	margin-bottom: 0;

	li a{
		font-size: 14px;
		color: #28374f;
		margin-right: 35px;
	}
	
	li a:hover{
		background-color: #70276f;
		color: #fff;
	}

}





.navbar .navbar-toggle .icon-bar {
    background-color: #70276f;
}


#second-navbar{
	border-top: 2px solid #efefef;
	border-bottom: 3px solid #70276f;
	font-size: 19px;
	
	img{
		display: none;
	}

	li a{
		color: #28374f;	
		font-family: $regular;
	}

	li a:hover{
		background-color: #70276f;
		color: #fff;
	}
	
}

header {
  margin-top: 10px;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%; }

header img {
  float: left; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
  text-transform: uppercase; }



/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #28374f;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px; 
  font-family: $regular;
}

/* Change background color of links on hover */
ul.links li:not(:first-child):hover {
  border-bottom: 3px #563d7c solid;
  cursor: pointer; }

/* Hide the list item that contains the link that should open and close the topnav on small screens */


ul.submenu {
    display: none;
    position: absolute;
    top: 37px;
    border: 1px solid #70276f ;
}




ul.topnav > li:hover > ul.submenu {
    display: block;
}


#first-section{
	background-color: #efefef;
	padding: 20px 0; 

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	h5:nth-child(1){
		font-size: 28px;
		font-family: $semibold;
		flex-grow: 2;

	}

	h5:nth-child(2){
		font-family: $regular;
		
		font-size: 14px;
		
	}
}

.border-class span:nth-child(2){
	float: right;
}


.media-head-left{
	float: left;
	h4{
		font-family: $semibold;
		font-size: 18px;
	}

	span{

		font-family: $regular;
		font-size: 13px;
	}
}

.media-head-right{
	float: right;
	padding-right: 15px;
	span{
		display: none;
	}
	h4{
		font-size: 22px;
		color: #ffc263;
	}

	p{
		font-family: $regular;
		font-size: 13px;

	}
}

.media p{
	clear: both;
	font-family: $regular;
	font-size: 14px;
	color: #868686;
}

#second-section{
	padding: 20px 0;
	border-bottom: 3px solid #70276f;

	ul{
		padding-left: 0;
	}

	
	span{
		font-family: $light;

	}

	span:nth-child(1){
		font-size: 23px;
		color: #563d7c;
		float: left;

	}

	span:nth-child(2){
		font-size: 16px;
		color: #333333;
		
		padding-top: 8px;
	}

	li{
		list-style: none;
		font-family: $regular;
		font-size: 15px;
	}
	h3{
		font-family: $semibold;
		font-size: 18px;
		color: #333333;
	}

	.col-md-4:nth-child(1){
		border: 2px solid #efefef;
	}
}



input[type="checkbox"]{
	margin-right: 5px;
	cursor: pointer;
	border-radius: 20px;
}

input[type="checkbox"] + label{
  font-size: 15px;
  font-family: $regular;
  cursor: pointer;
}

.glyphicon-star{
	background-color: #fff;
	color: #ffc263;
}

#third-section {
	ul{
		float: right;
		list-style: none; 
		margin: 20px; 
		padding: 0;
	}
   
    li {display: inline; padding: 10px; font-size: 16px; }
}

#fourth-section{
	ul li{
		font-size: 14px;
		font-family: $regular;
		color: #000000;
	}

	h4{
		font-family: $semibold;
		color: #282626;
		font-size: 16px;
	}

	p{
		font-family: $regular;
		font-size: 14px;
		color: #282626;
	}
	
}

#fourth-section-2 .col-md-4:nth-child(2){
	margin-top: 32px;
}

.glyphicon-earphone, .glyphicon-phone, .glyphicon-map-marker, .glyphicon-ok-sign{
	color: #563d7c;
}

#fifth-section{
	background-color: #efefef;
}

#fifth-section {
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	padding: 15px 0;	

	span{
		flex-grow: 2;
		font-family: $regular;
		font-size: 14px;
		color: #282626;
	}
}



